body {
    background-color: #FFE5E5;
}
/* id is #, class and rest is #*/
#featuredtab {
    margin-left: 15px;
}
#header {
    display:inline-flex;
    flex-direction: row;
    font-family: 'sans-serif';
    background: #FFF5F5;  /* FFF5F5 */
    padding: 10px;
    color:#C21E56;
    border-radius:10px;
}
.heart{
    margin-left: 10px;
    height:20px;
    width:20px;
font-size: 20px;    
}
#playlist-cards{
    width:100%;
    height:100%;
    display:flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
   /* display:flex; */
   /* flex-direction:row; */
   /* flex-wrap:wrap; */
}

.flex{
    justify-content: space-evenly;
    align-items:space-evenly;
}
.card {

    background-color:#FFCCCC;
    border-radius: 18px;
    border: rounded;
    /* width: 20vw;  */
    width: 180px;
    border: 5px solid #F33A6A;
    /* height: 30vw; */
    height:300px;
    margin:0.5em;
}
.card:hover{
    background-color: purple;
}
.card:focus{
    background-color: #ea1111;
}
.image{
   /* height: 20vw; */
   height:180px;
   /* width: 20vw; */
   width:180px;
   border-radius:12px 12px 0px 0px;
   /*border-radius: 10px;*/
   border:rounded;
   background-color: rgba(0, 0, 0, 0.8); /* Gray overlay with 50% opacity */
   /*changes tp parent percentages*/
}
.title {
    /*diff between padding and align*/
    color:white;
    margin-top:5px;
    margin-left:8px;
    font-size: 15px;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
}
.playlistimage {
    height: 200px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5); /* Gray overlay with 50% opacity */
}

.playlistinfo {
    font-size: 30px;
}
.creator {
    color:white;
    margin-left:8px;
    font-size: 12px;
    margin-bottom: 0;
}
.likecount {
    color:white;
    padding-left: 10px;
    font-size: 20px;
}
.likes{
    color:white;
    margin-left:8px;
    font-size: 12px;
}
.playlist{
    display:inline-block;
    /* flex-direction: column; */
    border:solid;
    border-radius: 5px;
    background-color: pink;
    height:300;
    width:400px;
    margin-bottom: 20px;
    margin-left: 2vw;
    margin-right:4vw;
    padding:10px
}
.together{
    display:flex;
    flex-direction: row;
}
.song{
    display:flex;
    /* flex-direction: column; */
    border:solid;
    border-radius: 5px;
    background-color: pink;
    height:115px;
    width:300px;
    margin-bottom: 20px;
    margin-left: 4vw;
    padding:10px

}
.songimage{
    width:120px;
    height:100px;
    padding-top:10px;
}
.songtitle, .songartist, .songalbum, .songduration{
    font-size: 12px;
}
.songid{
    display: none;
}
.songinfo{
    margin-left: 2vw;
}
.modal_content{
    background-color: pink;
    margin: 0% auto; /* 15% from the top and centered */
    border: 1px solid black;
    border-width: 2px;
    padding-top: 18px;
    width: 500px; /* Could be more or less, depending on screen size */
    
    display:flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .featuremodal{
    display: flex;
    color:white;
    font-size: 15px;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: pink;
    margin: 3vw;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: "block";
    border-radius: 18px;
    border: rounded;
    /* width: 20vw;  */
    border: 5px solid #F33A6A;
  }
  .featuretitle, .featureartist {
    padding-left: 10px;
    padding-top: 10px;
  }
  .featuretitle {
    font-size: 20px;
    padding-top: 10px;
  }
.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(255, 192, 203, 0.8); /* Black w/ opacity */
}
.like-button {
    cursor: pointer;
    justify-content: center;
    margin-left: 50px;
  }
  .like-button:hover span {
    background-color: red;
    transform: translateX(5px);
    cursor: pointer;
  }
  .close {
    /* display: none; */
    color: #aaa;
    float: right;
    font-size: 18px;
    font-weight: bold;
  }
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* .artist{
    color:white;
    margin-top:5px;
    margin-left:8px;
    font-size: 15px;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
}
.album{
    color:white;
    margin-top:5px;
    margin-left:8px;
    font-size: 15px;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
} */