body {
    font-family: 'Arial', sans-serif;
    margin: 30;
    padding: 10;
    background-color: #FFE5E5;
}
/* remember dot is tag, access to rest is **/
#header {
    font-family: 'sans-serif';
    background: #FFF5F5;  /* FFF5F5 */
    padding: 10px;
}
.playlist-cards{
    width:100%;
    height:100%;
    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
   
}
.flex{
    justify-content: space-evenly;
    align-items:space-evenly;
}
.card {
    background-color:#FFCCCC;
    border-radius: 12px;
    border: rounded;
    width: 20vw;
    height: 30vw;
    margin:0.5em;
}
.card:hover{
    background-color: pink;
}
.image{
   height: 20vw;
   width: 20vw;
   border-radius:12px 12px 0px 0px;
   /*border-radius: 10px;*/
   border:rounded;
   /*changes tp parent percentages*/
}
.title {
    /*diff between padding and align*/
    margin-left:1.2vw;
    font-size: 1.25vw;
}
.creator {
    margin-left:1.2vw;
    font-size: 1vw;
}
.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(183, 6, 6); /* Fallback color */
    background-color: rgba(21, 202, 46, 0.4); /* Black w/ opacity */
}
.modal-content{
  background-color: #55dd11;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #ea1111;
  width: 80%; /* Could be more or less, depending on screen size */
}
.close {
    /* display: none; */
    color: #aaa;
    float: right;
    font-size: 18px;
    font-weight: bold;
  }
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}